.comment-thread-container{
  position: relative;
}

.comment-thread-container.ba-hidden {
  position: relative;
  padding:0;
}

.comment-thread-container .ba-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 10px;
}

.ba-hidden .comments-list{
  display: none;
}
.ba-hidden .ba-resolve-button {
  display: none;
}
